/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
<iframe 
  class="bg-video"
  src="https://www.youtube.com/embed/1-mxkgp4XhA?autoplay=1&mute=1&controls=0&loop=1&playlist=1-mxkgp4XhA"
  frameBorder="0"
  allowFullScreen
  allow="autoplay"
/>

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
